{% extends 'home.html' %}

{% load static %}

{% block title %}Clientes/Proveedores{% endblock %}

{% block view %}

<div id="vue-list" >
    <loading :loading="loading"></loading>
    <div class="row m-3">
        <!-- Filters -->
        <div class="col-2">
            <div class="input-group">
                <span class="input-group-text">Nombre</span>
                <input class="form-control" type="text" v-model="nameFilter"
                    @change="fetchPartners()"/>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <span class="input-group-text">RFC</span>
                <input class="form-control" type="text" v-model="rfcFilter"
                    @change="fetchPartners()"/>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <span class="input-group-text">Teléfono</span>
                <input class="form-control" type="text" v-model="phoneFilter"
                    @change="fetchPartners()"/>
            </div>
        </div>
        <!-- Pagination -->
        <div class="col-3 ms-auto">
            <nav>
                <ul class="pagination justify-content-end">
                    <li class="page-item" :class="paginationEnableClass">
                        <a class="page-link" @click="changePage(-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">[[ pagination ]]</a>
                    </li>
                    <li class="page-item" :class="paginationEnableClass">
                        <a class="page-link" @click="changePage(1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <select v-model="limit" class="form-select" @change="fetchPartners">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </li>
                </ul>
              </nav>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table table-striped list_view table-reponsive" >
            <thead class="text-bg-dark sticky-top">
                <tr>
                    <th style="width: 20px;">
                        <a href="partner/0">
                            <svg class="bi bi bi-plus-square me-2" width="16" height="16">
                                <image xlink:href="{% static 'img/icons/plus-square.svg' %}"/>
                            </svg>
                        </a>
                    </th>
                    <th style="width: 20px;"></th>
                    <th :class="orderFieldClass.name" @click="changeOrder('name')">Nombre</th>
                    <th :class="orderFieldClass.rfc" @click="changeOrder('rfc')">RFC</th>
                    <th :class="orderFieldClass.phone" @click="changeOrder('phone')">Teléfono</th>
                    <th :class="orderFieldClass.mobile" @click="changeOrder('mobile')">Teléfono Móvil</th>
                    <th :class="orderFieldClass.email" @click="changeOrder('email')">Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr is="vue:partner-row" v-for="partner in partners" :key="partner.id" :partner="partner"></tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block javascript-view %}
<script src="{% static 'js/partner/list.js' %}"></script>
{% endblock %}


