{% extends 'home.html' %}

{% load static %}

{% block title %}Usuarios{% endblock %}

{% block view %}

<div id="vue-list" >
    <loading :loading="loading"></loading>
    <div class="row m-3">
        <!-- Filtros -->
    </div>
    <table class="table table-striped list_view" >
        <thead class="text-bg-dark">
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr is="vue:user-row" v-for="user in users" :key="user.id" :user="user"></tr>
        </tbody>
    </table>
    <div class="row m-3">
        <!-- Pagination -->
        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-end">
                    <li class="page-item" :class="paginationEnableClass">
                        <a class="page-link" @click="changePage(-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">[[ pagination ]]</a>
                    </li>
                    <li class="page-item" :class="paginationEnableClass">
                        <a class="page-link" @click="changePage(1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <select v-model="limit" class="form-select" @change="fetchUsers">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </li>
                </ul>
              </nav>
        </div>
        <div class="col-2 text-center">
            
        </div>
    </div>
</div>

{% endblock %}

{% block javascript-view %}
<script src="{% static 'js/user/list.js' %}"></script>
{% endblock %}


