{% extends 'home.html' %}

{% load static %}

{% block title %}Usuarios{% endblock %}

{% block view %}

<div id="vue-list">
    <div class="row" style="font-weight: bold;">
        <div class="col-6">
            Nombre
        </div>
        <div class="col-6">
            Usuario
        </div>
    </div>
    <div>
        <user-row v-for="user in users" :key="user.name" :user="user"></user-row>
    </div>
</div>

{% endblock %}

{% block javascript-view %}
<script src="{% static 'js/user/list.js' %}"></script>
{% endblock %}


